<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shrutislegion.sportify">

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sportify">
        <activity
            android:name=".playeractivities.PlayerSharedActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".playeractivities.PlayerHomeActivity"
            android:exported="true"
            android:noHistory="true"/>
        <activity
            android:name=".lenderactivities.LenderSharedActivity"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".lenderactivities.LanderLogActivity"
            android:noHistory="true"
            android:label="Register Your Complex" />
        <activity android:name=".lenderactivities.LenderHomeActivity"
            android:noHistory="true"/>
        <activity
            android:name=".lenderactivities.AddComplexActivity"
            android:noHistory="true"
            android:label="Add Your Complex" />
        <activity
            android:name=".RegistrationActivity"
            android:label="Welcome to Sportify"
            android:noHistory="true"/>
        <activity
            android:name=".playeractivities.PlayerLogActivity"
            android:label="Sign In"
            android:noHistory="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>